@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

*{
    /* color: var(--cor-fonte-primaria); */
}

.cartoes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    background-color: aquamarine;
    margin: 100px 0 ;
    z-index: 0;
}


.card-container {
    display: inline-block;
    width: 300px;
    margin: 20px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #ffffff;
   
    
    box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
    
  }
  
  .carousel-card {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-card-slide {
    display: flex;
    width: calc(100% * 7);
}

.carousel-card-slide img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0 ;
        
  }
  
  #prevBtn,
  #nextBtn {
    color: var(--cor-fonte-primaria-blur);
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px; 
    font-size: 20px;
    cursor: pointer;
    /* transition: background-color 0.3s; */

 
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    
    font-weight: bold;
    padding: 10px 10px;
    /* transition: transform 0.3s ease-in-out;   */
  }

  /* Definindo a animação pulse */
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
 
  
  #prevBtn:hover,
  #nextBtn:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 12px 32px 0 rgba(31, 38, 135, 0.57);

    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    
  }
  
  #prevBtn {
    left: 5px;
  }
  
  #nextBtn {
    right: 5px;
  }
  

  .lista-caracteristicas{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3px 10px;
    color: var(--cor-fonte-primaria);
  }
  .lista-card-itens{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo-imovel{
    font-family: var(--fonte-primario);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    color: var(--cor-fonte-primaria);
    
    
  }
.descricao-apartamento{
    font-family: var(--fonte-primario);
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin: 10px 5px;
    color: var(--cor-fonte-primaria);
}

.icone-imovel{
	width: 25px;
	height: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
}




@media only screen and (max-width: 768px) {
.cartoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
